## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.bbl
*.blg
*.nlo
*.run.xml
*fdb_latexmk
*.nav
*.snm
*.synctex.gz
*Notes.bib
*.bcf
*.idx
*.ilg
*.ind
*.acn
*.glo
*.ist
*.spl
*.dvi
main.pdf

# All data .h5 files
*.h5

# Local files unrelated with project
refs_old.bib
ref_fmt.ipynb

# Local copies of references papers
references/*