name: Compile Paper
on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  Compile:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Git repository
        uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
          cache: 'pip'
      - run: pip install argparse 
      - name: Create flat file structure for submission
        run: |
          python code/create_submission_files.py main.tex ./sub -x iopart.cls iopart-num.bst iopart10.clo refs.bib
      - name: Compile LaTeX document
        # Using https://github.com/xu-cheng/latex-action
        uses: xu-cheng/latex-action@v3
        with:
          root_file: ./sub/main.tex
          work_in_root_file_dir: True
      - name: Compare to previous submission
        run: |
          curl -L https://cpanmin.us | perl - --sudo Algorithm::Diff
          cp old_flat_main.tex ./sub/
          cp latexdiff ./sub/
          cp latexdiff-vc ./sub/
          cd ./sub/
          chmod +x latexdiff
          chmod +x latexdiff-vc
          ./latexdiff-vc --pdf old_flat_main.tex main.tex
          cd ../
      - name: Compile main-diff file
        uses: xu-cheng/latex-action@v3
        with:
          root_file: ./sub/main-diff.tex
          work_in_root_file_dir: True
      - name: Create published directory
        run: |
          mkdir ./public
          cp ./sub/main.pdf ./public/
          cp ./sub/main-diff.pdf ./public/
        # Add more files above to publish them if required.
      - name: Upload latest compiled output to gh-pages branch
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public